h1 {
  background-color: black;
  color: white;
  height: 50px;
}

.rm-characters {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 50px;
}

.character {
  width: 225px;
  margin: 15px auto;
}

img {
  height: 200px;
}
